### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

FileNotFoundError: [Errno 2] File Resources/schools_complete.csv does not exist: 'Resources/schools_complete.csv'

In [68]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [69]:
total_students = school_data_complete["Student ID"].count()
total_students

39170

In [97]:
total_schools = len(school_data_complete["School ID"].value_counts())
total_schools

15

In [103]:
#Calculate the total budget
total_Budget = school_data_complete["budget"].sum()
total_Budget

82932329558

In [102]:
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [106]:
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [140]:
#overall average score
col = school_data_complete.loc[: , "reading_score":"math_score"]
school_data_complete['passing_rate'] = col.mean(axis=1)
school_data_complete
overall_passing_rate = school_data_complete['passing_rate'].mean()
overall_passing_rate
#passing_rate = (average_reading_score + average_math_score)/2
#passing_rate

80.43160582078121

In [174]:
#Calculate the percentage of students with a passing math score (70 or greater)
passing_math_score = school_data_complete.loc[school_data_complete["math_score"] >= 70, :]
passed_math = passing_math_score["student_name"].count()
percent_math_score = passed_math/total_students *100
percent_math_score

74.9808526933878

In [175]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_score = school_data_complete.loc[school_data_complete["reading_score"] >= 70, :]
passed_reading = passing_reading_score["student_name"].count()
percent_reading_score = passed_reading/total_students *100
percent_reading_score

85.80546336482001

In [176]:
# Overall Passing Rate (Average of the above two)
average_percent_passing_rate = (percent_math_score + percent_reading_score)/2
average_percent_passing_rate

80.39315802910392

In [177]:
#Create a dataframe to hold the above results
summary_df = pd.DataFrame({"Total Schools":[total_schools],
                           "Total Students":[total_students],
                          "total_Budget":[total_Budget],
                          "average_reading_score": [average_reading_score],
                          "average_math_score":[average_math_score],
                          "percent_math_score": [percent_math_score],
                          "percent_reading_score":[percent_reading_score],
                          "Overall Percetage Passing Rate": [average_percent_passing_rate]})
summary_df

,Total Schools,Total Students,total_Budget,average_reading_score,average_math_score,percent_math_score,percent_reading_score,Overall Percetage Passing Rate
0,15,39170,82932329558,81.87784,78.985371,74.980853,85.805463,80.393158

In [178]:
list_school_colmn = school_data_complete.columns
list_school_colmn

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget',
       'passing_rate', 'Average percentage score'],
      dtype='object')

In [180]:
# Display a statistical overview of the DataFrame
school_data_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Student ID                39170 non-null  int64
 1   student_name              39170 non-null  object
 2   gender                    39170 non-null  object
 3   grade                     39170 non-null  object
 4   school_name               39170 non-null  object
 5   reading_score             39170 non-null  int64
 6   math_score                39170 non-null  int64
 7   School ID                 39170 non-null  int64
 8   type                      39170 non-null  object
 9   size                      39170 non-null  int64
 10  budget                    39170 non-null  int64
 11  passing_rate              39170 non-null  float64
 12  Average percentage score  0 non-null      float64
dtypes: float64(2), int64(6), object(5)
memory usage: 4.2+ MB

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [183]:
all_schools = school_data_complete["school_name"].unique()
all_schools

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [266]:
#school df
school_data_df = school_data_complete.loc[school_data_complete["school_name"]== 'Huang High School', :]
school_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,passing_rate,Average percentage score
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,72.5,NaN
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,77.5,NaN
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,75.0,NaN
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,62.5,NaN
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,90.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2912,2912,Michael Combs,M,9th,Huang High School,98,95,0,District,2917,1910635,96.5,NaN
2913,2913,Monica Barajas,F,9th,Huang High School,64,81,0,District,2917,1910635,72.5,NaN
2914,2914,Carlos Garner,M,12th,Huang High School,66,73,0,District,2917,1910635,69.5,NaN
2915,2915,April Williams,F,12th,Huang High School,70,85,0,District,2917,1910635,77.5,NaN
2916,2916,Karen Blevins,F,10th,Huang High School,82,73,0,District,2917,1910635,77.5,NaN

In [278]:
All_High_School_df = school_data_complete.loc[(school_data_complete["school_name"]== 'Huang High School') | (school_data_complete["school_name"]== 'Huang High School') | (school_data_complete["school_name"]== 'Figueroa High School') | (school_data_complete["school_name"]== 'Shelton High School') | (school_data_complete["school_name"]== 'Hernandez High School') | (school_data_complete["school_name"]== 'Griffin High School') | (school_data_complete["school_name"]== 'Wilson High School') | (school_data_complete["school_name"]== 'Cabrera High School') | (school_data_complete["school_name"]== 'Bailey High School') | (school_data_complete["school_name"]== 'Holden High School') | (school_data_complete["school_name"]== 'Pena High School') | (school_data_complete["school_name"]== 'Wright High School') | (school_data_complete["school_name"]== 'Rodriguez High School') | (school_data_complete["school_name"]== 'Johnson High School') | (school_data_complete["school_name"]== 'Ford High School') | (school_data_complete["school_name"]== 'Thomas High School'), :]
All_High_School_df

School_Name = All_High_School_df.loc[1, "school_name"]
print(School_Name)
school_type = All_High_School_df.loc[1, "type"]
print(school_type)
total_Budget = All_High_School_df["budget"].sum()
total_Budget
total_students = All_High_School_df["student_name"].count()
total_students
Per_Student_Budget = total_Budget/total_students
Per_Student_Budget
Average_Math_Score = All_High_School_df["reading_score"].mean()
Average_Math_Score
Average_Reading_Score = All_High_School_df["reading_score"].mean()
Average_Reading_Score
passing_reading_score = All_High_School_df.loc[All_High_School_df["reading_score"] >= 70, :]
passed_reading = passing_reading_score["student_name"].count()
percent_reading_score = passed_reading/total_students *100
percent_reading_score
#Calculate the percentage of students with a passing math score (70 or greater)
passing_math_score = All_High_School_df.loc[All_High_School_df["math_score"] >= 70, :]
passed_math = passing_math_score["student_name"].count()
percent_math_score = passed_math/total_students *100
percent_math_score
# Overall Passing Rate (Average of the above two)
average_percent_passing_rate = (percent_math_score + percent_reading_score)/2
average_percent_passing_rate

Huang High School
District

80.39315802910392

In [274]:
school_summary_df = pd.DataFrame({"School Name":[School_Name],
                           "School Types":[school_type],
                          "total_Budget":[total_Budget],
                          "Total Students": [total_students],
                          "Total School Budget":[total_Budget],
                          "Per Student Budget": [Per_Student_Budget],
                          "Average Math Score":[Average_Math_Score],
                          "Average Reading Score":[Average_Reading_Score],
                          "% Passing Math": [percent_math_score],
                          "% Passing Reading": [percent_reading_score],
                           "Overall Passing Rate":[average_percent_passing_rate]})
school_summary_df

,School Name,School Types,total_Budget,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Huang High School,District,82932329558,39170,82932329558,2.117241e+06,81.87784,81.87784,74.980853,85.805463,80.393158

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [167]:
#school_data_complete["Average percentage score"] = average_percent_passing_rate
#school_data_complete
#top_performing = school_data_complete.sort_values("Average percentage score" , ascending=False)
#top_performing

#grouped_schools_df = school_data_complete.groupby(["school_name"])
#grouped_schools_df.count().head(10)
#top_performing = grouped_schools_df.sort_values("Average percentage score" , ascending=False)
#top_performing.head()

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [ ]:
#bottom_performing = school_data_complete.sort_values("Average percentage score" , ascending=True)
#bottom_performing.head()

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [17]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757